
<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
    <title></title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light">
    <div class="container"> <a class="navbar-brand text-primary">
            <img src="https://i.pinimg.com/originals/e8/57/2d/e8572d43b0bd89c2656827340b866c83.jpg" width="100" height="100" class="d-inline-block align-top" alt=""></a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('reclamation_cand_format_index') }}">Reclamation list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user2_index') }}">Menage Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('formationAdmin_index') }}">Project list</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">FAQ</a> </li>
            </ul>
        </div>
    </div>
    <i class="fa fa-user pull-left text-primary" style="">{{ app.user.username }}</i>
    <div class="col-md-1" style="">
      <a href="{{ path('app_logout') }}">Logout</a>
    </div>
</nav>
<div class="text-center align-items-center d-flex" style="background-image: url('https://img.freepik.com/vecteurs-libre/gens-affaires-competition-dans-banniere-du-tir-corde_1262-21444.jpg?w=1060&t=st%3D1703698074~exp%3D1703698674~hmac%3D6b6e310339e7a25ee67b2a5bd30e173cd10ca821435dc874f14cc7ef313849b4&fbclid=IwAR06v1SU-5qMQiXOk_Q_cyy0_hXDHxhlqBuvGyHCttMl4LBUncXWoNJv3_Q'); background-size: cover; background-position: center; background-color: rgba(189, 195, 199, 0.75);">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="display-3 mb-4 shadow-none" style="text-shadow: 1px 1px 1px;">Workbridge</h1>
                <p class="lead mb-5">Welcome to Workbridge - Your Gateway to Freelance Excellence!</p>
                <a href="{{ path('list_Inscrit_nonvalide') }}" class="btn btn-lg btn-primary mx-1">Confirm Demande<br></a>
            </div>
        </div>
    </div>
</div>
<div class="text-center py-5" style="background-color: #f8f9fa; border-radius: 10px; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-3 mb-4 shadow-none" style="text-shadow: 1px 1px 1px;">
                    Projects
                </h1>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <!-- Web Development -->
        <div class="col-md-4 col-6 p-3">
            <div class="card mx-auto">
                <img class="card-img-top" src="https://img.freepik.com/vecteurs-libre/cours-developpeurs-web-programmation-informatique-conception-web-script-etude-codage-composants-structure-interface-apprentissage-etudiants-informatique_335657-2542.jpg?size=626&ext=jpg&ga=GA1.2.825443035.1703696205&semt=ais" alt="Web Development">
                <div class="card-body">
                    <h2 class="card-title"><b>Web Development</b></h2>
                </div>
            </div>
        </div>

        <!-- Mobile Development -->
        <div class="col-md-4 col-6 p-3">
            <div class="card mx-auto">
                <img class="card-img-top" src="https://img.freepik.com/vecteurs-libre/developpement-applications-mobiles-langages-programmation-css-html-informatique-interface-utilisateur-personnage-dessin-anime-programmeur-masculin-developpant-site-web-codage_335657-2367.jpg?w=740&t=st%3D1703696374~exp%3D1703696974~hmac%3D6a746556df8775768af8221fa799e2d3505c2971cf1022c2e2eaeba6ee9d9238&fbclid=IwAR0vGLgWFX7otYYPI3xJvLakilLv4HsvnJuB-Jim7bG64HyMC2KT_B2CcTk" alt="Mobile Development">
                <div class="card-body">
                    <h2 class="card-title"><b>Mobile Development</b></h2>
                </div>
            </div>
        </div>

        <!-- Game Development -->
        <div class="col-md-4 col-6 p-3">
            <div class="card mx-auto">
                <img class="card-img-top" src="https://img.freepik.com/vecteurs-libre/illustration-concept-abstrait-tournoi-sport-electronique_335657-1859.jpg?w=740&t=st%3D1703696309~exp%3D1703696909~hmac%3D3e7af4c09779fd4aaac82cfcf274363f857fba31a6ab0287569d89465ae39df0&fbclid=IwAR2Gky_jG_RoyCRjIcfvyrtYsip-SvIUtDx596K8yZsnq3DkVcW1WRj9Y2w" alt="Game Development">
                <div class="card-body">
                    <h2 class="card-title"><b>Game Development</b></h2>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<div class="pb-5">
    <div class="container-fluid p-0"> <iframe width="100%" height="300" src="https://maps.google.com/maps?hl=en&amp;q=New%20York&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" scrolling="no" frameborder="0"></iframe> </div>
    <div class="container">
        <div class="row">
            <div class="mx-auto p-4 col-md-6" style="">
                <i class="fa fa-5x"></i><img class="img-fluid d-block rounded-circle w-25" src="https://i.pinimg.com/originals/e8/57/2d/e8572d43b0bd89c2656827340b866c83.jpg">
                <h2 class="mb-4"><br>About us</h2>
                <p>OBBA offers you a complete range of training courses adapted to all audiences: individuals, students, employees, job seekers and business leaders. A vocational training center located in the city center, with an infrastructure adapted to the requirements of the training standards requested.</p>
                <p class="mb-0 lead text-primary" style="" contenteditable="true">workbridge@gmail.com</p>
            </div>
            <div class="mx-auto p-4 col-md-6">
                <h2 class="mb-4">Contact us</h2>
                <form>
                    <div class="form-group"> <input type="email" class="form-control form-control-lg" id="form31" placeholder="Email"> </div>
                    <div class="form-group"> <textarea class="form-control form-control-lg" id="form32" rows="3" placeholder="Your message"></textarea> </div> <button type="submit" class="btn btn-primary btn-lg">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
</body>

</html>