{% extends 'base_cand_interfaces.html.twig' %}
    {% block title %}Formation index{% endblock %}




{% block body %}
<div class="my-3">
    <div class="container">

    </div>
</div>
<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-3">
                <h3 class="display-3 text-center text-capitalize" style="">Project List</h3>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="container">
        <div class="row">
            <div class="text-right col-md-12" align="right">
                <form class="form-inline" align="right">
                    <div class="input-group" align="right">
                        <input type="text" class="form-control form-control-lg" id="inlineFormInputGroup" placeholder="Search" align="right">
                        <div class="input-group-append" align="right"><button class="btn btn-primary" type="button" align="right"><i class="fa fa-search"></i></button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="py-3" style="">
    <div class="container">
        <div class="row">
            <div class="table-responsive" style="">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Project Name</th>
                        <th>Devis</th>
                        <th>Interview</th>
                        <th class="" >Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for formation in formations %}
                        <tr>
                            <td>{{ formation.id }}</td>
                            <td>{{ formation.nomf }}</td>
                            <td>{{ formation.nbsessions }}</td>
                            <td><a href="{{ path('sessionCand_list', {'id': formation.id}) }}" class="btn btn-outline-success" style="">Show</a></td>

                            <td>

                                <div class="col-md-12">

                                    <a href="{{ path('rateFormation_index', {'id': formation.id}) }}" class="btn btn-outline-secondary" style="">Rate & Comment</a>
                                </div>

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{{ path('accueil_Cand') }}">back to home</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}