{% extends 'base_cand_interfaces.html.twig' %}



    {% block title %}Seance List{% endblock %}


    {% block body %}
<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">

{# <logo> #}
<div class="my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><img class="img-fluid d-block rounded-circle w-25 mx-auto" src="../../images/logo-trabsparente.png" style=""></div>
        </div>
    </div>
</div>
{# </logo>#}

{# <Interface Title>#}
<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-3">
                <h3 class="display-3 text-center text-capitalize" style="">Seance List</h3>
            </div>
        </div>
    </div>
</div>
{# </Interface Title>#}

{# <Search area>#}
<div class="">
    <div class="container">
        <div class="row">
            <div class="text-right col-md-12" align="right">
                <form class="form-inline" align="right">
                    <div class="input-group" align="right">
                        <input type="text" class="form-control form-control-lg" id="inlineFormInputGroup" placeholder="Search" align="right">
                        <div class="input-group-append" align="right"><button class="btn btn-primary" type="button" align="right"><i class="fa fa-search"></i></button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{# </Search area>#}

{# <table>#}
<div class="py-3" style="">
    <div class="container">
        <div class="row">
            <div class="table-responsive" style="">
                <table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Designation</th>
        <th>Duration</th>
        <th>Training name</th>
        <th>Session name</th>
        <th>Presence</th>
        <th>Action</th>

    </tr>
    </thead>
    {% for l in listSeance %}
        <tr>
            <td>{{ l.id }}</td>
            <td>{{ l.designation }}</td>
            <td>{{ l.duree }}</td>
            <td>{{ l.session.formation.nomf }}</td>
            <td>{{ l.session.designation }}</td>
             <td>
              <a href="{{ path('seance_formateur_show', {'id': l.id}) }}" class="btn btn-warning" style="">Verification</a>
             </td>

            <td>

                <div class="col-md-12">
                    <a href="{{ path('seance_formateur_show', {'id': l.id}) }}" class="btn btn-outline-info" style="">Show</a>
                    <a href="{{ path('seance_edit', {'id': l.id}) }}" class="btn btn-outline-primary">Edit</a>
                    <a href="{{ path('seance_formateur_show', {'id': l.id}) }}" class="btn btn-danger">Delete</a>
                </div>

            </td>

        </tr>





    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>

    {% endfor %}

</table>
        <a class="btn btn-primary pi-draggable" href="{{ path('seance_new') }}">Add</a>

        </div>
        <a href="{{ path('session_list_Formateur', {'id': session.formation.id}) }}">back to list</a>
        </div>
        </div>
        </div>






    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
{% endblock %}