{% extends 'base_cand_interfaces.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ session.designation }}</td>
            </tr>
            <tr>
                <th>Datedeb</th>
                <td>{{ session.datedeb ? session.datedeb|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ session.datefin ? session.datefin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('session_list_Formateur', {'id': session.formation.id}) }}">back to list</a>

    <a href="{{ path('session_edit', {'id': session.id}) }}">edit</a>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
