{% extends 'base_cand_interfaces.html.twig' %}

{% block title %}Users list{% endblock %}

{% block body %}


    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-3">
                    <h3 class="display-3 text-center text-capitalize" style="">Users List</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="text-right col-md-12" align="right">
                    <a href="{{ path('accueil_Admin') }}">back to home</a>

                </div>
            </div>
        </div>
    </div>
    <div class="py-3" style="">
        <div class="container">
            <div class="row">
                <div class="table-responsive" style="">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email Adress</th>
                            <th>Phone number</th>
                            <th>Adress</th>
                            <th>Role</th>
                            <th class="" >Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phonenumber }}</td>
                            <td>{{ user.adress }}</td>
                            <td>{{ user.getRoles()[0] }}</td>
                            <td>

                                <div class="col-md-12">
                                    <a href="{{ path('user2_show', {'id': user.id}) }}" class="btn btn-outline-info" style="">Show</a>
                                    <a href="{{ path('user2_edit', {'id': user.id}) }}" class="btn btn-outline-primary">Edit</a>
                                    <a href="{{ path('user2_delete', {'id': user.id}) }}" class="btn btn-danger">Delete</a>
                                </div>

                            </td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-primary pi-draggable" href="{{ path('user2_new') }}">Add</a>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   {#  <h1>Users List</h1>

    <table class="table" border="3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Phonenumber</th>
                <th>Adress</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phonenumber }}</td>
                <td>{{ user.adress }}</td>
                <td>{{ user.getRoles()[0] }}</td>
                <td>
                    <a href="{{ path('user2_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user2_edit', {'id': user.id}) }}">edit</a>
                    <a href="{{ path('user2_delete', {'id': user.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('user2_new') }}">Create new</a>#}
{% endblock %}
