{% extends 'base_cand_interfaces.html.twig' %}

{% block title %} Users {% endblock %}

{% block body %}

    <h1>Users</h1>

    <table class="table" border="3">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ user.phonenumber }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ user.adress }}</td>
            </tr>
             <tr>
                  <th>Role</th>
                <td>{{ user.getRoles()[0] }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user2_index') }}">back to list</a>

    <a href="{{ path('user2_edit', {'id': user.id}) }}">edit</a>

    {{ include('user2/_delete_form.html.twig') }}
{% endblock %}
